<div class="homepage">
    <div class="container">
        <h1>Curs - Teme</h1>
        <div class="homepage-wrapper">
            <a href="/tema-12.html">
                <figure>
                    <h2>Tema 12 - To do list</h2>
                    <div class="image" data-image="images/homepage/tema-12.png"></div>
                    <figcaption>
                        <h4>Training Frontend</h4>
                    </figcaption>
                </figure>
            </a>
            <a href="/tema-18.html">
                <figure>
                    <h2>Tema 18 - Hangman</h2>
                    <div class="image" data-image="images/homepage/tema-18.png"></div>
                    <figcaption>
                        <h4>Training Frontend</h4>
                    </figcaption>
                </figure>
            </a>
            <a href="/tema-24.html">
                <figure>
                    <h2>Tema 24 - Tic-Tac-Toe (X/O)</h2>
                    <div class="image" data-image="images/homepage/tema-24.png"></div>
                    <figcaption>
                        <h4>Training Frontend</h4>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>
