<div class="tema-18">
    <div class="container">
        <div class="overlay hidden"></div>
        <div class="alert alert-success hidden" role="alert">
            <h4></h4>
            <p>Felicitari ai ghicit cuvantul!</p>
            <a href="#" type="button" class="try-again-btn btn btn-success">Joaca din nou!</a>
        </div>
        <div class="alert alert-danger hidden" role="alert">
            <h4></h4>
            <p>Ai pierdut! <br />Ti-ai epuizat toate cele 3 sanse.</p>
            <a href="#" type="button" class="try-again-btn btn btn-danger">Joaca din nou!</a>
        </div>

        <div class="hangman-wrapper">
            <div class="word-wrapper">
                <div class="life">Viata jucatorului este <br />formata din 3 sanse.</div>
                <div class="life2">Viata curenta: 3</div>
                <img class="image" src="images/tema-18/hangman_0.png" alt="hangman" />
                <div class="word-section"></div>
            </div>
            <div class="letters-section"></div>
        </div>
    </div>
</div>
