// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
$xxxl: 1700px;

// Fonts
$onest: "Onest", sans-serif;

// Colors
$bg-1: #101010;
$bg-2: #0e0716;

$text-1: #fefefe;
$text-2: #2ac69b;
$text-3: #43dfba;

$card-1: #683de5;
$card-2: #352844;
$card-3: #2c2635;
