// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;
$xxxl: 1700px;

// Fonts
$lato: "Lato", sans-serif;
// Colors

$text-1: #212121;
$text-2: #ffffff;
$text-3: #d98192;
$display: #212121;
$btn-1: #9156e1;
$btn-2: #e62f89;
$btn-3: #f6f6f6;
