.contact {
  background-color: #3c5499;
  text-align: center;
  padding: 104px 0 112px 0;

  .container {
    h2,
    h4,
    a,
    button {
      font-family: $t-web;
      color: $white;
    }

    h2 {
      &:after {
        background-color: #273a71;
      }
    }

    .contactForm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 15px;
      max-width: 860px;
      margin: 0 auto;

      .form-group {
        width: calc(50% - 15px);
        padding-bottom: 28px;
        position: relative;

        input,
        textarea {
          background-color: #273a71;
          color: $white;
          border-radius: 4px;
          opacity: 1;
          border: 0;
          outline: 0;
          width: 100%;
          font-family: $t-web;
          padding: 0 25px;
          width: 100%;
          line-height: 56px;
          font-size: 18px;

          &::placeholder {
            color: $white;
          }
        }

        .error {
          position: absolute;
          z-index: 1111;
          top: -22px;
          color: red;
        }
      }

      .group-textarea {
        width: 100%;
        padding-bottom: 0;

        textarea {
          padding: 22px 25px;
          line-height: 30px;
          min-height: 200px;
          max-width: 860px;
          min-width: 860px;
          margin: 0 auto;
        }
      }

      > button {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.36px;
        background-color: #30bae7;
        border-radius: 4px;
        line-height: 70px;
        max-width: 293px;
        width: 100%;
        margin: 50px auto 0 auto;
        outline: none;
        border: none;
        display: block;
        text-transform: uppercase;
        cursor: pointer;

        // &.disabled {
        //   background-color: gray;
        //   pointer-events: none;
        //   cursor: not-allowed;
        // }
      }
    }
  }
}
