.start-page {
  padding: 200px 0;
  text-align: center;

  .inner {
    .start-page-wrapper {
      h1,
      h2 {
        font-family: $onest;
        color: $text-2;
      }

      h1 {
        font-size: 60px;
        font-weight: 700;
        text-decoration: underline;
      }

      h2 {
        font-size: 36px;
        padding: 20px 0 80px 0;
      }

      .steps-btns {
        .nextBtn {
          font-size: 36px;
          line-height: 60px;
          max-width: 480px;

          &.nextBtn {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
