@font-face {
    font-family: 'ChurchwardLorina-Regular';
    src: url('ChurchwardLorina-Regular.eot?#iefix') format('embedded-opentype'), url('ChurchwardLorina-Regular.otf') format('opentype'),
    url('ChurchwardLorina-Regular.woff') format('woff'), url('ChurchwardLorina-Regular.ttf') format('truetype'), url('ChurchwardLorina-Regular.svg#ChurchwardLorina-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
