@font-face {
    font-family: 'ChurchwardLorinaLight-Regular';
    src: url('ChurchwardLorinaLight-Regular.eot?#iefix') format('embedded-opentype'), url('ChurchwardLorinaLight-Regular.otf') format('opentype'),
    url('ChurchwardLorinaLight-Regular.woff') format('woff'), url('ChurchwardLorinaLight-Regular.ttf') format('truetype'), url('ChurchwardLorinaLight-Regular.svg#ChurchwardLorinaLight-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
