.main {
  .homepage {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      display: block;
      width: 50%;
      height: 100vh;
      line-height: 100vh;
      text-align: center;
      font-weight: 900;
      font-size: 50px;
      color: #110f0f;

      &:first-of-type {
        background-color: rgb(19, 212, 212);

        &:hover {
          background-color: rgb(79, 230, 230);
        }
      }

      &:last-of-type {
        background-color: rgb(104, 104, 230);

        &:hover {
          background-color: rgb(80, 80, 245);
        }
      }
    }
  }
}
