@font-face {
    font-family: 'ChurchwardLorinaBold-Regular';
    src: url('ChurchwardLorinaBold-Regular.eot?#iefix') format('embedded-opentype'), url('ChurchwardLorinaBold-Regular.otf') format('opentype'),
    url('ChurchwardLorinaBold-Regular.woff') format('woff'), url('ChurchwardLorinaBold-Regular.ttf') format('truetype'), url('ChurchwardLorinaBold-Regular.svg#ChurchwardLorinaBold-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
