@font-face {
    font-family: 'ChurchwardLorinaBlack-Regular';
    src: url('ChurchwardLorinaBlack-Regular.eot?#iefix') format('embedded-opentype'), url('ChurchwardLorinaBlack-Regular.otf') format('opentype'),
    url('ChurchwardLorinaBlack-Regular.woff') format('woff'), url('ChurchwardLorinaBlack-Regular.ttf') format('truetype'), url('ChurchwardLorinaBlack-Regular.svg#ChurchwardLorinaBlack-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
